.vscode
.venv
__pycache__
.pytest_cache
venv/
__pycache__/
*.pyc
.env
src/clean.py

# data files
urls.csv
results.csv
results.json
results.error


# temprorary mds
src/*/*/*/*.md
src/*/*/*.md
src/*/*.md
src/*.md

structure.md
task.md