.vscode
.venv
__pycache__
.pytest_cache
venv/
__pycache__/
*.pyc
.env
src/clean.py

# data files
urls.csv
results.csv
results.json
results.error


# temprorary mds
solution.md
tmp.md
task.md
src.md
structure.md

config.md
models.md
pipeline.md
scrapers.md
content_detector.md
input_loader.md
metrics.md
savers.md
result_manager.md
services.md
utils.md
logger.md